/* Reset básico universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*bebas font*/


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*  font-family: "Bebas Neue", sans-serif;
*/

.hero-section {
  background-color: #1a1a2e; /* Respaldo */
  background-image: radial-gradient(circle, #4e4376, #1a1a2e);
  color: white;
  padding: 4rem 2rem;
}
body {
    font-family: "Bebas Neue", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

p {
    font-size: 1rem;
    font-weight: 400;

}

a {
    color: #07426c;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #2197eb;
    text-decoration: underline;
}

/* 1. Define tu paleta de colores usando codigos de color Hexadecimal */

body {
  /* 2. Aplica el fondo base al body */
  background-color: #F4F4F4;
  font-family: Arial, sans-serif;
}

header {
  /* 3. Coloca un fondo diferente para el header */
  background: #bab8b5;
  color: white;
  padding: 3rem;
}

section {
  /* 4. Usa un color complementario para un fondo mas suave */
  background-color: #D6EAF8;
  margin: 1rem;
  padding: 1rem;
}

